<configuration>
    <system.webServer>
        <webSocket enabled="false" />
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>
        <defaultDocument enabled="true">
            <files>
                <add value="index.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".xml" mimeType="application/xml" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Non-canonical hostnames to fivemonstersdeep.com" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*).fivemonstersdeep.com$" />
                    </conditions>
                    <action type="Redirect" url="https://fivemonstersdeep.com/{R:0}" redirectType="Permanent"/>
                </rule>

                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
                        <add input="{HTTP_HOST}" pattern="localhost" negate="true"/>
                        <add input="{REQUEST_URI}" pattern=".well-known/" negate="true"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
                </rule>

                <!-- /.well-known/ -->
                <rule name="Serve .well-known as Static Content">
                    <action type="Rewrite" url=".well-known{REQUEST_URI}"/>
                </rule>

                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="Static Content">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <!-- All other URLs are mapped to the node.js site entry point -->
                <rule name="Dynamic Content">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="index.js"/>
                </rule>
            </rules>
        </rewrite>

        <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin"/>
                </hiddenSegments>
            </requestFiltering>
        </security>

        <!-- Make sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough" />

        <!--
      You can control how Node is hosted within IIS using the following options:
        * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
        * node_env: will be propagated to node as NODE_ENV environment variable
        * debuggingEnabled - controls whether the built-in debugger is enabled

      See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config for a full list of options
    -->
        <iisnode watchedFiles="web.config;*.js"/>
    </system.webServer>
</configuration>
